html {
  scroll-behavior: smooth;
}
.table-of-contents {
  grid-column-start: 1;
  grid-row-start: 2;
}
.table-of-contents .toc-sticky-container {
  position: sticky;
  top: 3rem;
}

.table-of-contents a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(26, 32, 44, 10);
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(131, 24, 67, 900);
}
